.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    margin-top: 25px;
    background-color: aqua;
}
.navigation {
    max-width: 350px;
    width: 100%;
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (max-width: 768px){
    .burger{
        display: block;
    }
    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(8px)rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px)rotate(-45deg);
    }
    .nav-ul{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        background-color: aqua;
        transition: 0.3s;
    }
    .nav-ul.active{
        left: 0;
    }
}
.task{
    margin-top: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.input1{
    margin: 50px;
}
.ul-todolist{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}